# Apache/PHP/WEB settings:

Options +FollowSymLinks -MultiViews
Options -Indexes

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=/$1 [L,QSA]

</IfModule>

# DISABLE CACHING
<filesMatch "\.(html|htm|js|css)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>

SetEnv URL_BASE "http://front.test/"
SetEnv mode "development"