body{
	background-image: url("../img/background.png");
	background-color: #f2f2f2;
	color: #5a5a5a;
}

nav.homeBreadcrumb {
	margin: 10px 15px 0px;
}

nav.homeBreadcrumb ol.breadcrumb{
	background: none !important;
}